Plugin/design/plugins/com.tibco.bw.palette.elasticache.palette.elasticache.design/schema/deleteSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://www.tibco.com/Elasticache/delete" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/Elasticache/delete">
  <xsd:element name="deleteInput">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="key" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="deleteOutput">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="response" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
