Plugin/design/plugins/com.tibco.bw.palette.elasticache.palette.elasticache.design/schema/getSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://www.tibco.com/Elasticache/get" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/Elasticache/get">
  <xsd:element name="getInput">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Key" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getOutput">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Value" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
