QuickConnect/com.tibco.aws.elasticache.memcached/Schemas/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Schema" xmlns:tns="http://www.example.org/Schema" elementFormDefault="qualified">

    <element name="key" type="string"></element>
    <element name="value" type="string"></element>


    <element name="StoreValue" type="tns:StoreValueType"></element>

    <complexType name="StoreValueType">
    	<sequence>
    		<element ref="tns:key"></element>
    		<element name="expiry" type="int"></element>
    		<element ref="tns:value"></element>
    	</sequence>
    </complexType>
</schema>